

.menubar.open {
    left: 0;
    transform: translateX(250px);
}

.menubar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 2rem;
    background-color: white;
}

.menubar-menu {
    padding: 20px;
}
.menubar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menubar-menu li {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.menubar-menu a {
    display: block;
    padding: 1rem;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s;
    border-radius: 4px;
}

.menubar-menu a:hover {
    background-color: #f5f5f5;
}


.team-menu {
    position: fixed;
    left: -15vw;  /* 초기에는 화면 밖에 위치 */
    height: 100vh;
    width: 15vw;
    background-color: white;
    transition: transform 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    transition: all 0.3s ease-in-out;  /* 부드러운 전환 효과 */
}

.team-menu.open {
    left: 0vw;
}

.menu-button {
    display: flex;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-button {
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: #333;
}

.team-menu ul {
    list-style: none;
    padding: 20px;
}

.team-menu li {
    padding: 10px;
    cursor: pointer;
}

.team-menu li.selected {
    background-color: #f0f0f0;
}

.create-team-button{
    border:none;
    background:none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: 10px;
}

.create-team-button:hover{
    background-color: #98b1d9;
    color:white;
}