.recent-posts-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header-buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.team-info-button,
.category-info-button {
  background: #27ae60;
  color: white;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin: 0.5rem;
}

.team-info-button:hover {
  background: #219a52;
}

.category-info-button {
  background: #e67e22;
}

.category-info-button:hover {
  background: #d35400;
}

.create-post-button {
  padding: 1.2rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.create-post-button:hover {
    background-color: #357abd;
}
