.team-info {
    padding: 20px 0;
    border-bottom: 1px solid #dee2e6;
}

.team-info h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.sidebar-category-list {
    margin-top: 20px;
}

.sidebar-category-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-category-list li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar-category-list a {
    display: block;
    padding: 10px;
    color: #495057;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.sidebar-category-list a:hover {
    background-color: #e9ecef;
    color: #007bff;
}

.sidebar-category-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar .create-category-button {
    border: none;
    cursor: pointer;
    /* background-color: #d0d3d6; */
    background: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.sidebar .create-category-button:hover {
    color: #007bff;
    background-color: #ececec;
}