.btn-reply {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    padding: 0;
    font-size: 0.9em;
}

.btn-reply:hover {
    text-decoration: underline;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.author {
    color: #333;
}

.comment-time {
    font-size: 0.9em;
    color: #666; /* 회색 계열 */
    font-weight: 400;
}

.author-name {
    color: #1976d2;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  
  .author-name:hover {
    color: #0d47a1;
    text-decoration: underline;
  }